!!!
html
  head
    title new category
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 new category
    form(method='post', action='/new/category')
      p
        label name
        input(type='text', name='name')
      p
        label description
        input(type='text', name='description')
      p
        label guardian
      p
        input(type='submit', value='Submit')